{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue
<br><button type="button" class="btn btn-outline-dark"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a class="nav-link" href="{{ path('security_login') }}">Démarrer le service</font></font></button>
</h1>    
{% endblock %}    