{% extends 'base.html.twig' %}

{% block body %}

  <h1>Dessert</h1>

        <button class="btn btn-outline-primary" onclick="rtn()">Retour</button>

      <br></br>
    
        {% for dessert in desserts %}
          <button type="button" class="btn btn-primary btn-lg"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><a class="nav-link" href="/panier/add/{{ dessert.id }}">{{ dessert.title }}</a></font></font></button>
        {% endfor %}
        

 <script>
   function rtn() {
     window.history.back();
   }
 </script>
{% endblock %}    